:root {
  --primary-color: #FFD700;
  --secondary-color: #000000;
  --font-family: "Courier New", monospace;
  --bg: var(--primary-color);
  --accent: rgb(154,154,28);
  --muted: #888888;
}

body {
  max-width: 800px;               
  font-family: var(--font-family);
  background: var(--bg);
  padding: 15px;
  border: 2px solid black;
  margin: 20px;
  font-size: 20px;
  text-align: left;
  color: var(--secondary-color);
}
.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.parent {
  display: flex;
  background-color: var(--accent);
  padding: 20px;
  border: 2px dashed #333;
  margin-bottom: 20px;
}

@media (min-width: 600px) and (max-width: 1024px) {
  .container {
    flex-direction: row;
    flex-wrap: wrap; 
  }

  .box {
    width: calc(50% - 1rem);
  }
}


@media (min-width: 1025px) {
  .container {
    flex-direction: row;
    justify-content: space-between;
  }

  .box {
    width: calc(33.333% - 1rem);
  }
}

.child {
  background-color: rgb(255, 255, 255);
  padding: 10px;
  margin: 10px 0;
  border: 1px solid var(--muted);
}
.link{
  display: flex;
 align-items: flex-end;
 gap: 10px;
}