nav {
    background-color: #000000;
    padding: 10px;
    display: flex;
    justify-content: center;
    justify-items: center;
    border-radius: 2em;
    width: 500px;
    position: fixed;
    top: 15px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

a {
    background-color: #343434;
    padding: 10px;
    border-radius: 5%;
    outline-color:  #7A7A7A;
    outline-width: 3%;
    outline-style: solid;
    color: white;
    text-decoration: none;
    width: 100px;
    text-align: center;
    margin: 10px;
}
a:hover {
    color: #000000;
    background-color: white;
}



body {
    
}
